section{
    margin: 0;
    overflow: hidden;
    position: relative;

    &.hero{
        height: 50vh;
        width: 97%;
        margin: 0 auto;
        background: linear-gradient(152deg, rgb(74, 194, 154), rgb(189, 255, 243));
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
        
        p.bck{
            font-size: 160px;
            position: absolute;
            z-index: 1;
            font-weight: 900;
            color: white;
            top: 20%;
            left: -3%;
            opacity: 50%;
            margin: 0px;
        }
        .container{
            width: 70%;
            height: 60%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .text{
                position: absolute;
                z-index: 4;
                font-family: 'Poppins';
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 25vh;
                h2{
                    line-height: 60px;
                    font-size: 60px;
                    //-webkit-text-stroke: 2px #ff004c;
                    -webkit-text-stroke: 2px #fff;
                    color: transparent;
                    margin: 0;
                }
                p{
                    width: 50%;
                }
                a{
                    font-size: 18px;
                    background-color: #fff;
                    color: rgb(40, 40, 40);
                    padding: 2px 15px;
                    border-radius: 33px;
                    text-decoration: none;
                    width: max-content;
                    box-shadow: 3px 4px 0px 0px #262161;
                    transition: 0.4s;
                    &:hover{
                        box-shadow: 6px 7px 0px 0px #262161;
                    }
                }
            }
            span.circle-bck{
                position: absolute;
                right: -10%;
                width: 50%;
                padding-bottom: 50%;
                border-radius: 50%;
                background: linear-gradient(100deg, rgb(67, 198, 172), rgb(248, 255, 174));
            }
            img{
                height: 75vh;
                position: absolute;
                z-index: 3;
                bottom: 0;
                right: 0;
            }
        }
    }
    &.products{
        .container{
            width: 70%;
            margin: 0 auto;

            .wrapper{
                position: relative;
                width: max-content;

                h3{
                    font-size: 35px;
                    font-weight: 700;
                    color: $green;
                    z-index: 3;
                }
                i{
                    display: none;
                    z-index: -1;
                    position: absolute;
                    font-size: 60px;
                    top: 0;
                    right: 0;
                    color: #bdfff3;
                }
            }

            #products{
                width: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                box-sizing: border-box;
                padding: 0% 1.5%;

                .card{
                    width: 24%;
                    overflow: hidden;
                    border-radius: 7px;
                    position: relative;
                    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.10);
                    margin-bottom: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    img.thumbnail{
                        position: relative;
                        object-fit: cover;
                        width: 100%;
                        z-index: -2;

                        &::before{
                            content: url(../../pics/Subtract.png);
                            max-width: 100%;
                            height: auto;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            display: block;
                            left: 0;
                            z-index: 5;
                        }
                    }

                    h2{
                        color: $green;
                        padding: 0 25px;
                        text-align: center;
                        font-size: 20px;
                        line-height: 25px;
                    }

                    p.option{
                        font-size: 12px;
                        color: grey;
                        text-align: center;

                    }
                    p.price{
                        text-align: center;
                        font-weight: 600;
                        color: $green;
                    }

                    a{
                        background-color: $green;
                        color: white;
                        text-decoration: none;
                        padding: 5px 15px;
                        border-radius: 33px;
                        box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.31);
                        display: block;
                        width: max-content;
                        margin: -20px auto 0px auto;
                        z-index: 5;
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    section{
        &.hero{
            height: 80vh;

            .container{
                width: 90%;
                height: auto;
                justify-content: flex-end;
                
                .text{
                    position: absolute;
                    z-index: 4;
                    font-family: 'Poppins';
                    width: 90%;
                    height: max-content;
                    top: 25%;
                    left: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: rgba(0, 0, 0, 0.5);
                    backdrop-filter: blur(8px);
                    border-radius: 10px;
                    padding: 5%;
                    box-sizing: border-box;

                    h2{
                        line-height: 40px;
                        font-size: 30px;
                        -webkit-text-stroke: 1px $green;
                        color: transparent;
                        margin: 0;
                        text-align: center;
                    }
                    p{
                        width: 100%;
                        color: white;
                        font-size: 12px;
                        font-weight: 4000;
                        text-align: center;
                    }
                    a{
                        font-size: 18px;
                        background-color: #fff;
                        color: rgb(40, 40, 40);
                        padding: 2px 15px;
                        border-radius: 33px;
                        text-decoration: none;
                        width: max-content;
                        margin: auto;
                        box-shadow: 3px 4px 0px 0px $green;
                        transition: 0.4s;
                        &:hover{
                            box-shadow: 6px 7px 0px 0px #262161;
                        }
                    }
                }
                img{
                    right: -60%;
                }
            }
            
        }
        &.products{
            .container{
                width: 90%;
                .wrapper{
                    h3{
                        font-size: 22px;
                        text-align: center;
                    }
                }
                #products{
                    .card{
                        width: 48%;
                        margin-bottom: 20px;
                        h2, p{
                            padding: 0;
                            width: 100%;
                            margin: 0;
                        }
                        h2{
                            font-size: 16px;
                        }
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
            
        }
    }
}