section#single-product{
    width: 70%;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    height: fit-content;
    height: max-content;
    .row{
        width: 50%;
        .column{
            .thumbnail{
                width: 100%;
                height: 400px;
                border-radius: 7px;
                overflow: hidden;
                picture#thumbnail{
                    img{
                        object-fit: cover;
                        width: 100%;
                        
                    }
                }
            }
            .descr{
                padding-left: 5%;
                display: flex;
                flex-direction: column;
                height: 350px;
                justify-content: space-between;
                h2{
                    color: rgb(74, 194, 154);
                    font-size: 35px;
                    margin: 0 0 5px 0;
                }
                p#product_price{
                    font-weight: 600;
                    font-size: 26px;
                }
            }
            .bottom{
                display: flex;
                flex-direction: row;
                width: 100%;
                .select{
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    label{
                        font-size: 14px;
                        color: gray;
                        margin-bottom: 15px;
                    }
                    select{
                        background-color: transparent;
                        border: 3px $green solid;
                        padding: 3px 7px;
                        border-radius: 5px;
                        color: rgb(74, 194, 154);
                        font-weight: 800;
                        -moz-appearance:none;
                    }
                }
                button{
                    margin-top: auto;
                    height: auto;
                    margin-left: 15px;
                    padding: 3px 7px;
                    background-color: $green;
                    border: 3px $green solid;
                    border-radius: 5px;
                    color: white;
                    font-weight: 500;
                    cursor: pointer;
                    i{
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1000px) {
   section#single-product{
       width: 90%;
       flex-direction: column;
       margin-top: 25px;
       .row{
           width: 100%;
           height: max-content;
           .column{
               .thumbnail{
                   height: 180px;
               }
               .descr{
                   padding: 0;
                   .top{
                       p#product_price{
                           margin: 0;
                       }
                   }
                   .bottom{
                       .select{
                           overflow: visible;

                           label{
                               width: max-content;
                           }
                       }
                   }
               }
           }
       }
   }
}